venv

neolibrary/static/*/*
!*/static/*/default.png
!*/static/*/default.jpg
!*/static/styles/*
!*/static/tags_manager/tagmanager.js
!*/static/tags_manager/tagmanager.css
test.py

*.pyc
__pycache__/
*.*.swp
*.swp

instance/

.pytest_cache/
.coverage
.ropeproject
htmlcov/

dist/
build/
*.egg-info/

.env
