{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    {% if current_user.image_file %}
    <img  src="{{ profile_pics_path + current_user.image_file }}"
          class="rounded-circle account-img"
          alt="Image is not available">
    {% else %}
    <img src="{{ profile_pics_path + 'default.png' }}"
         class="rounded-circle account-img"
         alt="Image is not available">
    {% endif %}
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('users.edit_account') }}">Update</a>
    </div>
  </div>
</div>
{% endblock content %}
