{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="" enctype="multipart/form-data" id="form">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {% if form.title.errors %}
        {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.authors.label(class="form-control-label") }}
        {% if form.authors.errors %}
        {{ form.authors(id="form-authors", class="form-control form-control-lg tm-input is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.authors.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.authors(id="form-authors", class="form-control form-control-lg tm-input") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.tags.label(class="form-control-label") }}
        {% if form.tags.errors %}
        {{ form.tags(class="tm-input form-control form-control-lg is-invalid", id="form-tags") }}
        <div class="invalid-feedback">
          {% for error in form.tags.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.tags(class="tm-input form-control form-control-lg", id="form-tags") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.picture.label() }}
        {{ form.picture(class="form-control-file") }}
        {% if form.picture.errors %}
        {% for error in form.picture.errors %}
        <span class="text-danger">{{ error }}</span></br>
        {% endfor %}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.link.label() }}
        {{ form.link(class="form-control-label") }}
        {% if form.link.errors %}
        {% for error in form.link.errors %}
        <span class="text-danger">{{ error }}</span></br>
        {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<script type="text/javascript">
  $(function() {
      jQuery(".tm-input#form-authors").tagsManager({
          {% if prefilled %} prefilled: {{ prefilled|safe }}.authors, {% endif %}
          output: "#hidden_authors_id"});
      jQuery(".tm-input#form-tags").tagsManager({
          {% if prefilled %} prefilled: {{ prefilled|safe }}.tags, {% endif %}
          output: "#hidden_tags_id"});

      $('#form-tags').autocomplete({source:""});
      $('#form-authors').autocomplete({source:""});

      $("input").keyup(function(data){

          var authors_ls = $('#form-authors').tagsManager('tags');
          var tags_ls = $('#form-tags').tagsManager('tags');

          var search_tags = $('#form-tags').val();
          var search_authors = $('#form-authors').val();
          $.ajax({
              type : 'POST',
              url: '{{ url_for("search.autocomplete") }}',
              data: {"search_tags":search_tags, "search_authors":search_authors},
          }).done(function (data) {
              $('#form-tags').autocomplete({
                  source: data.json_list['tags'],
                  minLength: 1
              });
              $('#form-authors').autocomplete({
                  source: data.json_list['authors'],
                  minLength: 1
              });
          });

      }) 
  });
</script>

<script src = "{{url_for('static', filename='tags_manager/tagmanager.js')}}" type = "text/javascript">
  {% endblock content %}
