{% extends "layout.html" %}
{%block content %}
{% if books %}
<div class="row">
  {% for book in books %}
  <div class="col-xl-3 col-md-4 col-sm-6">
    <div class="card d-100 d-flex" >
      <div class="row no-gutters">

        <div class="col-sm-12">
          <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
            {% if book.image_file %}
            <img src="{{ image_folder + book.image_file }}"
                 class="img-fluid mx-auto d-block card-img-top"
                 alt="Image is not available">
            {% else %}
            <img src="{{ image_folder + 'default.png' }}"
                 class="img-fluid card-img-top"
                 alt="Image is not available">
            {% endif %}
          </a>
        </div>

        <div class="col-md-12">
          <div class="card-body">
            <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
              <h5 >{{ book.title }}</h5>
            </a>
            <p class="card-text">By
              {% for author in book.authors %}
              <a href="{{ url_for('authors.author', author_id=author.get_id()) }}">{{ author.name }}</a>
              {% endfor %}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endfor%}
</div>

{% else %}

{% for key in books_recommended %}
{% if key == "users" %}
  <h2>User recommended books:</h2>
{% elif key == "tags" %}
  <h2>Related tags:</h2>
{% elif key == "authors" %}
  <h2>Related authors:</h2>
{% endif %}

{% if not books_recommended[key] %}
  <p>Nothing here yet</p>
{% endif %}

<div class="row">
  {% for book in books_recommended[key] %}
  <div class="col-xl-3 col-md-4 col-sm-6">
    <div class="card d-100 d-flex" >
      <div class="row no-gutters">

        <div class="col-sm-12">
          <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
            {% if book.image_file %}
            <img src="{{ image_folder + book.image_file }}"
                 class="img-fluid mx-auto d-block card-img-top"
                 alt="Image is not available">
            {% else %}
            <img src="{{ image_folder + 'default.png' }}"
                 class="img-fluid card-img-top"
                 alt="Image is not available">
            {% endif %}
          </a>
        </div>

        <div class="col-md-12">
          <div class="card-body">
            <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
              <h5 >{{ book.title }}</h5>
            </a>
            <p class="card-text">By
              {% for author in book.authors %}
              <a href="{{ url_for('authors.author', author_id=author.get_id()) }}">{{ author.name }}</a>
              {% endfor %}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

{% endif %}

{% for page_num in page_ls %}
  {% if page_num %}
    {% if current_page == page_num %}
      <a class="btn btn-info mb-4 disabled" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    <a class="btn btn-outline-info mb-4 disabled">...</a>
  {% endif %}
{% endfor %}


{% endblock content %}
