{% extends "layout.html" %}
{%block content %}
<div class="row">

  <div class="col-md-3">
    <div class="content-section">
      <h3>Discover</h3>

      <p class='text-muted'>New authors:
        <ul class="list-group">
          {% for author in sidebar['authors'] %}
          <li class="list-group-item list-group-item-light">
            <a href="{{ url_for('authors.author', author_id=author.get_id()) }}">{{ author.name }}</a>
          </li>
          {% endfor %}
          <li class="list-group-item list-group-item-light"><a href="google.com">more ...</a></li>
        </ul>
      </p>
      <p class='text-muted'>New tags:
        <ul class="list-group">
          {% for tag in sidebar['tags'] %}
          <li class="list-group-item list-group-item-light">
            <a href="{{ url_for('tags.tag', tag_id=tag.get_id()) }}">{{ tag.name }}</a>
          </li>
          {% endfor %}
          <li class="list-group-item list-group-item-light"><a href="google.com">more ...</a></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col-md-9 ">
    {% if books %}
    <h3>Most popular:</h3>
    <div class="row">
      {% for book in books %}
      <div class="col-xl-3 col-md-4 col-sm-4">
        <div class="card d-100 d-flex" >
          <div class="row no-gutters">

            <div class="col-sm-12">
              <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
            {% if book.image_url %}
            <img src="{{ book.image_url }}"
                 class="img-fluid mx-auto d-block card-img-top">
            {% elif book.image_file %}
            <img src="{{ book_covers_path + book.image_file }}"
                 class="img-fluid mx-auto d-block card-img-top">
            {% else %}
            <img src="{{ book_covers_path + 'default.png' }}"
                 class="img-fluid card-img-top"
                 alt="Image is not available">
            {% endif %}
              </a>
            </div>

            <div class="col-md-12">
              <div class="card-body">
                <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
                  <h5 >{{ book.name }}</h5>
                </a>
                <p class="card-text">By
                  {% for author in book.authors %}
                  <a href="{{ url_for('authors.author', author_id=author.get_id()) }}">{{ author.name }}</a>
                  {% endfor %}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor%}
    </div>
    {% else %}
    {% for key in books_recommended %}
    {% if key == "users" %}
    <h2>User recommended books:</h2>
    {% elif key == "tags" %}
    <h2>Related tags:</h2>
    {% elif key == "authors" %}
    <h2>Related authors:</h2>
    {% endif %}

    {% if not books_recommended[key] %}
    <p>Nothing here yet</p>
    {% endif %}

    <div class="row">
      {% for book in books_recommended[key] %}
      <div class="col-md-3 col-sm-4 col-6">
        <div class="card d-100 d-flex" >
          <div class="row no-gutters">

            <div class="col-sm-12">
              <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
            {% if book.image_url %}
            <img src="{{ book.image_url }}"
                 class="img-fluid mx-auto d-block card-img-top">
            {% elif book.image_file %}
            <img src="{{ book_covers_path + book.image_file }}"
                 class="img-fluid mx-auto d-block card-img-top">
            {% else %}
            <img src="{{ book_covers_path + 'default.png' }}"
                 class="img-fluid card-img-top"
                 alt="Image is not available">
            {% endif %}
              </a>
            </div>

            <div class="col-md-12">
              <div class="card-body">
                <a href="{{ url_for('books.book', book_id=book.get_id()) }}" class="card-title">
                  <h5 >{{ book.name }}</h5>
                </a>
                <p class="card-text">By
                  {% for author in book.authors %}
                  <a href="{{ url_for('authors.author', author_id=author.get_id()) }}">{{ author.name }}</a>
                  {% endfor %}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% endblock content %}
