{% macro paginator_search(page_ls, current_page, search, select) -%}

<div class="content-section">
  {% for page_num in page_ls %}
  {% if page_num %}
  {% if current_page == page_num %}
  <a class="btn btn-info mb-4 disabled"
     href="{{ url_for('search.search', page=page_num, search=search, select=select)}}">
    {{ page_num }}
  </a>
  {% else %}
  <a class="btn btn-outline-info mb-4"
     href="{{ url_for('search.search', page=page_num, search=search, select=select) }}">
    {{ page_num }}
  </a>
  {% endif %}
  {% else %}
  <a class="btn btn-outline-info mb-4 disabled">...</a>
  {% endif %}
  {% endfor %}
</div>

{% endmacro %}

{% macro paginator_author(page_ls, current_page, author_id) -%}

<div class="content-section">
  {% for page_num in page_ls %}
  {% if page_num %}
  {% if current_page == page_num %}
  <a class="btn btn-info mb-4 disabled"
     href="{{ url_for('authors.author', page=page_num, author_id=author_id)}}">
    {{ page_num }}
  </a>
  {% else %}
  <a class="btn btn-outline-info mb-4"
     href="{{ url_for('authors.author', page=page_num, author_id=author_id) }}">
    {{ page_num }}
  </a>
  {% endif %}
  {% else %}
  <a class="btn btn-outline-info mb-4 disabled">...</a>
  {% endif %}
  {% endfor %}
</div>

{% endmacro %}

{% macro paginator_tag(page_ls, current_page, tag_id) -%}

<div class="content-section">
  {% for page_num in page_ls %}
  {% if page_num %}
  {% if current_page == page_num %}
  <a class="btn btn-info mb-4 disabled"
     href="{{ url_for('tags.tag', page=page_num, tag_id=tag_id)}}">
    {{ page_num }}
  </a>
  {% else %}
  <a class="btn btn-outline-info mb-4"
     href="{{ url_for('tags.tag', page=page_num, tag_id=tag_id) }}">
    {{ page_num }}
  </a>
  {% endif %}
  {% else %}
  <a class="btn btn-outline-info mb-4 disabled">...</a>
  {% endif %}
  {% endfor %}
</div>

{% endmacro %}
