{% extends "layout.html" %}
{% import 'book_card.html' as bk %}
{% import 'list_macros.html' as ls %}
{% block content %}

<form method="GET">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      {{ form.select(class="btn btn-outline-secondary dropdown-toggle", type="button") }}
    </div>
    {{ form.search(class="form-control") }}
    <button type="submit" value="Search" class="btn btn-outline-secondary">Search</button>
  </div>
</form>


<div class="content-section">
  {% if not page_ls %}
  <h4>Most popular</h4>
  {% endif %}
  {% if books %}
  <div class="row">
    {% for book in books %}
    {{ bk.book_card(book) }}
    {% endfor%}
  </div>
  {% elif authors %}
  <ul class="list-group">
    <div class="row row-cols-2">
      {% for author in authors %}
      <div class="col">
        <a class="list-group-item list-group-item-action" href="{{ url_for('authors.author', author_id=author.get_id())}}">
          {{ author.name }}
          <span class="badge badge-primary badge-pill float-right">{{ author.book_count() }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </ul>
  {% elif tags %}
  <ul class="list-group">
    <div class="row row-cols-2">
      {% for tag in tags %}
      <div class="col">
        <a class="list-group-item list-group-item-action" href="{{ url_for('tags.tag', tag_id=tag.get_id())}}">
          {{ tag.name }}
          <span class="badge badge-primary badge-pill float-right">{{ tag.book_count() }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </ul>
  {% endif %}
</div>



{% if page_ls %}
{{ ls.paginator_search(page_ls, current_page, search, select) }}
{% endif %}

{% endblock content %}
